<h2>Appointment Submitted</h2>

<hr />

<p><strong>Status appointment:</strong> Pending</p>
<p>Your appointment is being looked by admin.</p>

<br />

<form asp-action="Dashboard" method="get">
    <button type="submit" class="btn btn-primary">
        Back to Home
    </button>
</form>
